.prediction-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em !important;
}

.result-container {
    width: 65%;
    margin-left: 17.5%;
    margin-top: 7%;
}

.result-image {
    background-position: center;
    background-repeat: no-repeat;
}

.text-result { 
    background-color: transparent;  
    padding: 25px;
}

.maps-result {
    display: flex;
    justify-content: center;
}

@media (max-width: 870px) {
    .prediction-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 399px) {
    .result-container {
        width: 100%;
        margin-left: 0;
    }
}