.prediction-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em !important;
}

.result-container {
    width: 65%;
    margin-left: 17.5%;
    margin-top: 7%;
}

.text-result { 
    background-color: transparent;
    padding: 15px;
}

.maps-result {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.maps-result > button, .maps-result > button:hover {
    margin-top: 20px;
}

@media (max-width: 650px) {
    .prediction-container {
        grid-template-columns: 1fr;
    }
}