.upload-form {
    margin-top: 65px !important;
    padding: 10px;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #9d9d9db1;
    background-color: #36d68b48;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    margin-bottom: 65px !important;
  }
  .upload-form h3 {
    margin: 9px;
    color: white;
  }
  .upload-input {
    margin: 10px;
    width: 50% !important;
    border: 1px solid #36d68b48 !important;
  }
  
  .upload-input:focus {
    box-shadow: none !important;
  }
  
  .upload-form > button {
    font-size: 20px;
    color: #ffffff;
    border-radius: 100px !important;
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    background-color: whitesmoke !important;
    border-color: #747474 !important;
    color: #747474 !important;
  }
  
  .upload-form > button:hover,
    upload-form > button:focus,
      upload-form > button:active {
    font-size: 20px;
    color: #000000;
  }

  .image-upload {
    cursor: pointer;
    margin-top: 20px;
    width: 90px;
    height: 90px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius:30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hidden {
      display: none;
  }
  .dropdown {
    margin-top: 15px;
    width: 50%;
  }
  .dropdown-toggle, .dropdown-toggle:focus {
    width: 100%;
    box-shadow: none !important;
      border-color: #36d68b48 !important;
      color: #747474 !important;
    background-color: whitesmoke !important;
    }

  .image-preview {
    border: 2px solid white;
    padding: 10px;
    border-radius: 12px;
    margin-top: 15px;
  }

  .image-preview img {
    width: 100%
  }