.upload-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px !important;
}

.upload-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  border: 1px solid #9d9d9db1;
  background-color: #36d68b48;
  margin-bottom: 65px !important;
  width: 60%;
}
.instructions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  border: 1px solid #9d9d9db1;
  background-color: #36d68b48;
  margin-bottom: 25px !important;
  width: 60%;
}

.instructions h5 {
  font-size: 17px;
}
.upload-form h3 {
  margin: 9px;
  color: white;
}
.upload-input {
  width: 50% !important;
  margin: 10px;
  border: 1px solid #36d68b48 !important;
}

.upload-input:focus {
  box-shadow: none !important;
}
.email-input:focus {
  border: 1px solid #36d68b48 !important;
  box-shadow: none !important;
}
.upload-form > button {
  font-size: 20px;
  color: #ffffff;
  border-radius: 100px !important;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
  background-color: whitesmoke !important;
  border-color: #747474 !important;
  color: #747474 !important;
}

.upload-form > button:hover,
upload-form > button:focus,
upload-form > button:active {
  font-size: 20px;
  color: #000000;
}

.image-upload {
  cursor: pointer;
  width: 90px;
  height: 90px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hidden {
  display: none;
}
.dropdown {
  margin-top: 15px;
  width: 50%;
}

.dropdown-toggle,
.dropdown-toggle:focus {
  width: 100%;
  box-shadow: none !important;
  border-color: #36d68b48 !important;
  color: #747474 !important;
  background-color: whitesmoke !important;
}

.image-preview {
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  margin-top: 15px;
}

.image-preview > div {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.image-preview > div > img {
  border: none;
  border-radius: 13%;
  padding: 25px;
  max-width: 100%;
  max-height: 100%;
}

.image-preview > div > div {
  border-radius: 9px;
  width: 60%;
}

.send-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .image-preview > div {
    flex-direction: column;
  }
  .image-preview > div > img {
    padding: 25px;
  }
  .upload-container {
    width: 100%;
  }
}
