.logo {
    font-family: 'Nunito', sans-serif;
    margin-left: 15px;
    justify-content: flex-start;
    font-size: 34px;
    color: #36d68b;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #F5F5F5;
}

.logo:focus, .logo:active {
    outline: none;
    border: none;
}

.nav-container {
    width: 100%;
    display:flex;
    position: fixed;
    top: 0px;
    min-height: 7vh;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-bottom: 1px solid #36d68b;
    z-index: 3;
}

.nav-links-container {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links {
    cursor: pointer;
    margin-right: 20px;
}

.modal-close-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: 600;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #434343;
    color: #ffffff;
    width: 30px;
    height: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-form input {
    padding: 10px !important;
    margin: 10px !important;
    width: 100%;
    margin: 10px;
    border-radius: 10px 
}
.login-form input:focus {
    box-shadow: none;
    border: none
}

.login-btn, 
 .login-btn:hover,
   .login-btn:active {
    font-weight: 500;
    color: #ffffff !important;
    margin: 10px;
    background-color: #36d68b !important;
    border: 1px solid #ffffff !important;
}
.login-btn:focus{
    box-shadow: 0 0 0 0 !important;
}

.go-to-signup, .go-to-signup:hover{
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: 500;
    padding: 5px 0px;
    border-radius: .25rem;
    background-color: #36d68b;
    color: #ffffff;
}

@media (max-width: 650px) {
    .logo {
        display: none;
    }
    .nav-links-container {
        width: 100%;
    }
    .nav-container {
        border-top: 1px solid #36d68b;
        top: initial;
        bottom: 0px !important;
    }
}