@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

body {
  background-color: whitesmoke !important;
  font-family: 'Nunito', sans-serif;
}

.my-container{
  position: relative;
  top: 7vh
}

@media (max-width: 650px) {
  .my-container {
    top: initial !important;
    bottom: 7vh !important;
  }
}